/* reset */
*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none; color: #000;}

/* navbar */
navbar {min-height: 90px;}
.block-left .airbnb-img {width: 100px;}

.block-right li a {color: #000; text-decoration: none;}

/* main */
.card-row{
    margin-bottom: 7%;
}