/* reset */
*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none; color: #000;}
body {font-family: sans-serif;}

/* navbar */
header{
    min-height: 100vh;
    background-image: url(/assets/home.jpg);
    background-size: cover;
    background-position: center center;
}

.block-left .airbnb-img {width: 100px;}

.block-center ul a li:hover{
    filter: drop-shadow(0 0 0.1rem crimson);
}

.block-right span {color: #fff;}

.block-right .host:hover {
    filter: drop-shadow(0 0 0.1rem crimson);
}

.dropdown-menu[data-bs-popper] {
    transition: 0.4s ease-in-out;
    border: 1px solid  rgb(105, 105, 105);
    left: -82px;
}

/* input group */
.input-container{
    background: #fff;
    display: none;
}

.input-container input {
    border: none;
}

.input-container input{
    border: none;

}


#searchButton {
    border-radius: 40px;
    display: none;
}


/* title hero */
.hero{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.hero-row {
    padding: 0 10%;
}

.title-hero h1 {
    width: 10%;
    color: #fff;
    font-size: 7rem;
    line-height: 0.9;
}

#inputwindw {
    width: 260px;
    border-radius: 30px ;
    margin-top: 10px;
    text-align: center;
}

.containerr {
    text-align: center;
    padding-top: 20px;
}

#toggleSearch {
    padding: 10px 16px;
    border-radius: 30px;
    background-color:  rgb(228, 29, 86);
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: none;
}

#toggleSearch:hover {
    box-shadow: 0px 0px 10px rgb(228, 29, 86);
}

.search-fields {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.input-group-prepend {
    border-radius: 50px; 
}

#fname {
    padding: 5px;
}

.bnb-color {
    background-color: rgb(228, 29, 86);
}

.bnb-color a {
    color: rgb(255, 255, 255);
}


/* MEDIA QUERY */
/* Elimino gli hover sotto i 900px */
@media screen and (min-width: 900px) {

  #searchButton:hover {
    background: #eee;
    border-radius: 0 50rem 50rem 0;
    border-right: 1px solid #eee;
  }

  .input-checkin:hover{
      background: #eee;
  }
  .input-checkout:hover{
      background: #eee;
  }
  .input-guest:hover{
      background: #eee;
  } 
  .input-location:hover {
      background: #eee;
      border-radius: 50rem 0 0 50rem;
      border-right: 1px solid #eee;
  }
  
  .button-search:hover {
      background: #eee;
      border-radius: 0 50rem 50rem 0;
      border-right: 1px solid #eee;
  }

}

/* stilizzo la barra search e il pulsante search sotto i 900px */
@media screen and (max-width: 900px) {
    #toggleSearch {
        display: inline-block;
    }

    .button-search {
        width: 90%;
    }

    .btn.btn-danger {
        width: 100%;
    }

    .search-fields {
        overflow: hidden;
        max-height: 100%;
    }

    .input-group-prepend {
        width: 90%;  
        flex-direction: column;  
        border-radius: 30px;
    }

    .input-location , .input-checkin , .input-checkout , .input-guest {
        width: 70%;
        font-size: 12px;  
    }


}


@media (max-width: 576px) {

    #toggleSearch {
        margin-top: 100px;
        display: inline-block;
    }

    nav{
        min-height: 100px;
    }
    .block-left {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .block-center {
    position: absolute;
    width: 350px;
    left: 2%;
    top: 110%;
    margin-top: 10px;
    }
    .block-center li {
        /* margin: 10px 5px; */
        display: flex;
        flex-wrap: wrap;
    }
    .block-right {
        position: absolute;
        top: 55%;
        left: 12%;
    }

    .dropdown-menu[data-bs-popper] {
        transition: 0.4s ease-in-out;
        border: 1px solid  rgb(105, 105, 105);
        left: -130px;
    }

    .hero{
        position: absolute;
        bottom: 10px;
    }
    .title-hero h1 {
        width: 10%;
        color: #fff;
        font-size: 4rem;
        line-height: 0.9;
    }
}

/* @media (max-width: 576px) {
    nav{
        min-height: 100px;
    }
    .block-left {
       margin: 0 10px;
    }
    .block-center {
    position: absolute;
    bottom: -15px;
    left: 35px;
    }
    .block-center li {
        margin: 10px 5px;
    }
    .block-right {
        position: absolute;
        top: 23.5px;
        right: 10px;
    }
} */